In [1]:
import pandas as pd

df = pd.read_excel("demographic.xlsx")

In [2]:
df.head()

,Region,PC,Description,km^2,Households,Population,Category,Affluent,Connected,Mobile Lifestyle,City Slickers
0,Anglia,AL,St Albans,296,97525,229502,Suburban,0.16,0.13,0.16,0.13
1,Anglia,CB,Cambridge,1818,148838,349949,Suburban,0.22,0.13,0.22,0.13
2,Anglia,CM,Chelmsford,1800,254271,613034,Rural,0.22,0.13,0.22,0.13
3,Anglia,CO,Colchester,1334,164746,377322,Rural,0.18,0.07,0.18,0.07
4,Anglia,EN,Enfield,219,136556,330709,Urban,0.11,0.15,0.11,0.15

In [3]:
print(df['Category'].unique())

['Suburban' 'Rural' 'Urban']

In [4]:
df_urban = df[df['Category'].str.lower() == 'urban']
df_rural = df[df['Category'].str.lower() == 'rural']
df_suburban = df[df['Category'].str.lower() == 'suburban']

# Optional: check sizes
print("Urban:", df_urban.shape)
print("Rural:", df_rural.shape)
print("Suburban:", df_suburban.shape)

Urban: (29, 11)
Rural: (53, 11)
Suburban: (38, 11)

In [5]:
import numpy as np

# Define coverage areas
coverage = {
    "urban": np.pi * (1.5**2),      # ≈ 7.07
    "suburban": np.pi * (4**2),     # ≈ 50.27
    "rural": np.pi * (9**2)         # ≈ 254.47
}

# Add a new column "Towers Needed"
df['Towers Needed'] = df.apply(
    lambda row: np.ceil(row['km^2'] / coverage[row['Category'].lower()]),
    axis=1
)

# Check first few rows
print(df[['Category', 'km^2', 'Towers Needed']].head())

   Category  km^2  Towers Needed
0  Suburban   296            6.0
1  Suburban  1818           37.0
2     Rural  1800            8.0
3     Rural  1334            6.0
4     Urban   219           31.0

In [6]:
for d in [df_urban, df_rural, df_suburban]:
    d['Affluent'] = d['Affluent'] * d['Households']
    d['Connected'] = d['Connected'] * d['Households']
    d['Mobile Lifestyle'] = d['Mobile Lifestyle'] * d['Population']
    d['City Slickers'] = d['City Slickers'] * d['Population']

C:\Users\Abhay Kumar\AppData\Local\Temp\ipykernel_19208\55073150.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['Affluent'] = d['Affluent'] * d['Households']
C:\Users\Abhay Kumar\AppData\Local\Temp\ipykernel_19208\55073150.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['Connected'] = d['Connected'] * d['Households']
C:\Users\Abhay Kumar\AppData\Local\Temp\ipykernel_19208\55073150.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['Mobile Lifestyle'] = d['Mobile Lifestyle'] * d['Population']
C:\Users\Abhay Kumar\AppData\Local\Temp\ipykernel_19208\55073150.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  d['City Slickers'] = d['City Slickers'] * d['Population']

In [7]:
print("Urban summary:")
print(df_urban[['Affluent','Connected','Mobile Lifestyle','City Slickers']].describe())

print("\nRural summary:")
print(df_rural[['Affluent','Connected','Mobile Lifestyle','City Slickers']].describe())

print("\nSuburban summary:")
print(df_suburban[['Affluent','Connected','Mobile Lifestyle','City Slickers']].describe())

Urban summary:
           Affluent      Connected  Mobile Lifestyle  City Slickers
count     29.000000      29.000000         29.000000      29.000000
mean   11954.854483   35876.814138      28312.632414   81524.254483
std    11989.133099   37387.305428      28495.659806   80272.859430
min        0.000000    1897.220000          0.000000    3421.600000
25%     3631.820000   15819.720000       7673.500000   39599.610000
50%     7345.140000   20483.400000      17426.220000   49606.350000
75%    15542.460000   41536.890000      37965.960000   94233.240000
max    52055.570000  159800.080000     125015.520000  337634.000000

Rural summary:
           Affluent     Connected  Mobile Lifestyle  City Slickers
count     53.000000     53.000000         53.000000      53.000000
mean   20363.900755  12724.169434      48139.488491   30085.391321
std    19377.806934  10942.214589      46454.140784   26465.768368
min      219.120000    200.230000        503.810000     470.050000
25%     7273.800000   4120.230000      16006.620000    9340.230000
50%    13032.360000   9639.960000      30455.100000   22602.600000
75%    29107.210000  18523.680000      67917.960000   41788.200000
max    71562.500000  47646.240000     173028.250000  116445.440000

Suburban summary:
           Affluent     Connected  Mobile Lifestyle  City Slickers
count     38.000000     38.000000         38.000000      38.000000
mean   28846.937368  26091.378947      67580.926316   60901.740263
std    14039.039451  14355.196960      33020.204901   31971.542389
min     4044.660000   2696.440000       9365.220000    6243.480000
25%    17085.172500  18566.707500      38618.452500   44472.165000
50%    29818.380000  22981.650000      69532.530000   53658.075000
75%    35635.510000  31028.987500      83330.017500   73937.392500
max    63416.640000  81230.700000     152267.640000  180080.100000

In [8]:
print("Urban sample:")
print(df_urban.head())

print("\nRural sample:")
print(df_rural.head())

print("\nSuburban sample:")
print(df_suburban.head())

Urban sample:
    Region  PC      Description  km^2  Households  Population Category  \
4   Anglia  EN          Enfield   219      136556      330709    Urban
5   Anglia  IG           Ilford    95      118838      290437    Urban
11  Anglia  RM          Romford   293      203751      498186    Urban
13  Anglia  SS  Southend-On-Sea   390      217772      513552    Urban
14  Anglia  WD          Watford   193       99140      234319    Urban

    Affluent  Connected  Mobile Lifestyle  City Slickers
4   15021.16   20483.40          36377.99       49606.35
5    7130.28   10695.42          17426.22       26139.33
11   8150.04   16300.08          19927.44       39854.88
13  26132.64   28310.36          61626.24       66761.76
14  13879.60   12888.20          32804.66       30461.47

Rural sample:
    Region  PC   Description  km^2  Households  Population Category  Affluent  \
2   Anglia  CM    Chelmsford  1800      254271      613034    Rural  55939.62
3   Anglia  CO    Colchester  1334      164746      377322    Rural  29654.28
6   Anglia  IP       Ipswich  3810      233581      553166    Rural  32701.34
10  Anglia  PE  Peterborough  5710      334894      795823    Rural  33489.40
12  Anglia  SG     Stevenage  1290      154364      370912    Rural  33960.08

    Connected  Mobile Lifestyle  City Slickers
2    33055.23         134867.48       79694.42
3    11532.22          67917.96       26412.54
6    21022.29          77443.24       49784.94
10   20093.64          79582.30       47749.38
12   18523.68          81600.64       44509.44

Suburban sample:
   Region  PC    Description  km^2  Households  Population  Category  \
0  Anglia  AL      St Albans   296       97525      229502  Suburban
1  Anglia  CB      Cambridge  1818      148838      349949  Suburban
7  Anglia  LU          Luton   388      125491      310183  Suburban
8  Anglia  MK  Milton Keynes  1356      173904      422631  Suburban
9  Anglia  NR        Norwich  3324      296079      681279  Suburban

   Affluent  Connected  Mobile Lifestyle  City Slickers
0  15604.00   12678.25          36720.32       29835.26
1  32744.36   19348.94          76988.78       45493.37
7  12549.10   25098.20          31018.30       62036.60
8  33041.76   22607.52          80299.89       54942.03
9  29607.90   17764.74          68127.90       40876.74

In [9]:
import numpy as np

# coverage areas
coverage = {
    "urban": np.pi * (1.5**2),      # ~7.07
    "suburban": np.pi * (4**2),     # ~50.27
    "rural": np.pi * (9**2)         # ~254.47
}

# Add towers column for each category df
df_urban['Towers Required'] = np.ceil(df_urban['km^2'] / coverage['urban'])
df_rural['Towers Required'] = np.ceil(df_rural['km^2'] / coverage['rural'])
df_suburban['Towers Required'] = np.ceil(df_suburban['km^2'] / coverage['suburban'])

C:\Users\Abhay Kumar\AppData\Local\Temp\ipykernel_19208\2712243339.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_urban['Towers Required'] = np.ceil(df_urban['km^2'] / coverage['urban'])
C:\Users\Abhay Kumar\AppData\Local\Temp\ipykernel_19208\2712243339.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_rural['Towers Required'] = np.ceil(df_rural['km^2'] / coverage['rural'])
C:\Users\Abhay Kumar\AppData\Local\Temp\ipykernel_19208\2712243339.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_suburban['Towers Required'] = np.ceil(df_suburban['km^2'] / coverage['suburban'])

In [10]:
print("Urban head:")
print(df_urban.head())

print("\nRural head:")
print(df_rural.head())

print("\nSuburban head:")
print(df_suburban.head())

Urban head:
    Region  PC      Description  km^2  Households  Population Category  \
4   Anglia  EN          Enfield   219      136556      330709    Urban
5   Anglia  IG           Ilford    95      118838      290437    Urban
11  Anglia  RM          Romford   293      203751      498186    Urban
13  Anglia  SS  Southend-On-Sea   390      217772      513552    Urban
14  Anglia  WD          Watford   193       99140      234319    Urban

    Affluent  Connected  Mobile Lifestyle  City Slickers  Towers Required
4   15021.16   20483.40          36377.99       49606.35             31.0
5    7130.28   10695.42          17426.22       26139.33             14.0
11   8150.04   16300.08          19927.44       39854.88             42.0
13  26132.64   28310.36          61626.24       66761.76             56.0
14  13879.60   12888.20          32804.66       30461.47             28.0

Rural head:
    Region  PC   Description  km^2  Households  Population Category  Affluent  \
2   Anglia  CM    Chelmsford  1800      254271      613034    Rural  55939.62
3   Anglia  CO    Colchester  1334      164746      377322    Rural  29654.28
6   Anglia  IP       Ipswich  3810      233581      553166    Rural  32701.34
10  Anglia  PE  Peterborough  5710      334894      795823    Rural  33489.40
12  Anglia  SG     Stevenage  1290      154364      370912    Rural  33960.08

    Connected  Mobile Lifestyle  City Slickers  Towers Required
2    33055.23         134867.48       79694.42              8.0
3    11532.22          67917.96       26412.54              6.0
6    21022.29          77443.24       49784.94             15.0
10   20093.64          79582.30       47749.38             23.0
12   18523.68          81600.64       44509.44              6.0

Suburban head:
   Region  PC    Description  km^2  Households  Population  Category  \
0  Anglia  AL      St Albans   296       97525      229502  Suburban
1  Anglia  CB      Cambridge  1818      148838      349949  Suburban
7  Anglia  LU          Luton   388      125491      310183  Suburban
8  Anglia  MK  Milton Keynes  1356      173904      422631  Suburban
9  Anglia  NR        Norwich  3324      296079      681279  Suburban

   Affluent  Connected  Mobile Lifestyle  City Slickers  Towers Required
0  15604.00   12678.25          36720.32       29835.26              6.0
1  32744.36   19348.94          76988.78       45493.37             37.0
7  12549.10   25098.20          31018.30       62036.60              8.0
8  33041.76   22607.52          80299.89       54942.03             27.0
9  29607.90   17764.74          68127.90       40876.74             67.0

In [11]:
print(df_urban.columns.tolist())

['Region', 'PC', 'Description', 'km^2', 'Households', 'Population', 'Category', 'Affluent', 'Connected', 'Mobile Lifestyle', 'City Slickers', 'Towers Required']

In [14]:
cols = ['Affluent', 'Connected', 'Mobile Lifestyle', 'City Slickers']

for df_cat in [df_urban, df_rural, df_suburban]:
    for col in cols:
        df_cat[col] = pd.to_numeric(df_cat[col], errors='coerce')  # convert to numeric, coerce errors to NaN

C:\Users\Abhay Kumar\AppData\Local\Temp\ipykernel_19208\3357386161.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_cat[col] = pd.to_numeric(df_cat[col], errors='coerce')  # convert to numeric, coerce errors to NaN

In [15]:
plans_corrected = {
    "LightSpeed Unlimited": {
        "Mobile Lifestyle": [0.005, 0.015, 0.03],
        "City Slickers": [0.005, 0.01, 0.015],
    },
    "LightSpeed Unplugged": {
        "Mobile Lifestyle": [0.01, 0.02, 0.03],
        "City Slickers": [0.015, 0.03, 0.05],
    },
    "LightSpeed Unwired": {
        "Affluent": [0.005, 0.01, 0.03],
        "Connected": [0.005, 0.01, 0.03],
    },
    "Total LightSpeed": {
        "Affluent": [0.005, 0.01, 0.005],
        "Connected": [0.005, 0.005, 0.005],
    }
}

In [19]:
# Monthly prices and duration
plan_prices = {
    "LightSpeed Unlimited": 75,
    "LightSpeed Unplugged": 30,
    "LightSpeed Unwired": 40,
    "Total LightSpeed": 120
}
duration_months = 18

def compute_total_revenue(abs_df):
    total = 0
    for plan in abs_df.columns:
        total += abs_df[plan].sum() * plan_prices[plan] * duration_months
    return total

# Total revenue per category
revenue_urban = compute_total_revenue(abs_urban)
revenue_rural = compute_total_revenue(abs_rural)
revenue_suburban = compute_total_revenue(abs_suburban)

total_revenue_all = revenue_urban + revenue_rural + revenue_suburban

revenue_urban, revenue_rural, revenue_suburban, total_revenue_all

(np.float64(0.0), np.float64(0.0), np.float64(0.0), np.float64(0.0))

In [22]:
import numpy as np

# ----- Inputs -----

# Plans monthly prices & duration
plan_prices = {
    "LightSpeed Unlimited": 75,
    "LightSpeed Unplugged": 30,
    "LightSpeed Unwired": 40,
    "Total LightSpeed": 120
}
duration_months = 18

# Device setup cost tiers per plan
device_cost_tiers = {
    "LightSpeed Unlimited": [(1e6, 350), (5e6, 330), (1e7, 320), (float('inf'), 300)],
    "LightSpeed Unplugged": [(1e6, 50), (5e6, 48), (1e7, 46), (float('inf'), 43)],
    "LightSpeed Unwired": [(1e6, 200), (3e6, 185), (1e7, 180), (float('inf'), 170)],
    "Total LightSpeed": [(1e6, 350), (5e6, 330), (1e7, 320), (float('inf'), 300)]
}

# Device subsidy per year
subsidy_year = [0.5, 0.75, 1.0]

# CAPEX & OPEX
capex_per_tower = 75000
opex_per_tower_per_year = 3000

# User type mapping
user_type_mapping = {
    "LightSpeed Unlimited": ["Mobile Lifestyle", "City Slickers"],
    "LightSpeed Unplugged": ["Mobile Lifestyle", "City Slickers"],
    "LightSpeed Unwired": ["Affluent", "Connected"],
    "Total LightSpeed": ["Affluent", "Connected"]
}

# ----- Helper functions -----
def get_device_cost(plan, users):
    """Return device cost per unit based on number of users and tiered pricing."""
    for threshold, cost in device_cost_tiers[plan]:
        if users <= threshold:
            return cost
    return device_cost_tiers[plan][-1][1]  # fallback

def compute_service_revenue(df, plan):
    """Compute total service revenue for the plan."""
    total_users = 0
    for col in user_type_mapping[plan]:
        total_users += df[col].sum()
    return total_users * plan_prices[plan] * duration_months

def compute_device_subsidy(df, plan):
    """Compute total device subsidy for 3 years."""
    total_subsidy = 0
    for col in user_type_mapping[plan]:
        users = df[col].sum()
        cost_per_device = get_device_cost(plan, users)
        for subsidy in subsidy_year:
            total_subsidy += users * cost_per_device * subsidy
    return total_subsidy

def compute_tower_cost(df):
    """Compute CAPEX and OPEX for towers."""
    num_towers = df['Towers Needed'].sum()   # <-- updated column name
    total_capex = num_towers * capex_per_tower
    total_opex = num_towers * opex_per_tower_per_year * 3  # 3 years
    return total_capex + total_opex

def compute_net_revenue(df):
    """Compute net revenue per category."""
    service_rev = sum([compute_service_revenue(df, plan) for plan in plan_prices])
    device_sub = sum([compute_device_subsidy(df, plan) for plan in plan_prices])
    tower_costs = compute_tower_cost(df)
    net = service_rev - device_sub - tower_costs
    return net, service_rev, device_sub, tower_costs

# ----- Compute for each category -----
net_urban, rev_urban, sub_urban, tower_urban = compute_net_revenue(df_urban)
net_rural, rev_rural, sub_rural, tower_rural = compute_net_revenue(df_rural)
net_suburban, rev_suburban, sub_suburban, tower_suburban = compute_net_revenue(df_suburban)

# ----- Total -----
total_net = net_urban + net_rural + net_suburban
total_rev = rev_urban + rev_rural + rev_suburban
total_sub = sub_urban + sub_rural + sub_suburban
total_tower = tower_urban + tower_rural + tower_suburban

# ----- Output -----
print("Urban Net Revenue:", net_urban)
print("Rural Net Revenue:", net_rural)
print("Suburban Net Revenue:", net_suburban)
print("Total Net Revenue:", total_net)

print("\nTotal Service Revenue:", total_rev)
print("Total Device Subsidy:", total_sub)
print("Total Tower Cost (CAPEX+OPEX):", total_tower)

Urban Net Revenue: 5550920719.9725
Rural Net Revenue: 7219635476.760001
Suburban Net Revenue: 8486081285.459999
Total Net Revenue: 21256637482.1925

Total Service Revenue: 38141484429.600006
Total Device Subsidy: 16645194947.407501
Total Tower Cost (CAPEX+OPEX): 239652000.0

In [21]:
print(df_urban.columns.tolist())

['Region', 'PC', 'Description', 'km^2', 'Households', 'Population', 'Category', 'Affluent', 'Connected', 'Mobile Lifestyle', 'City Slickers', 'Towers Needed']

In [23]:
import pandas as pd

# Combine all category dataframes
df_combined = pd.concat([df_urban, df_rural, df_suburban])
df_combined.columns = df_combined.columns.str.strip()  # remove extra spaces

# Base series mapping
base_series_map = {
    "Affluent Households": df_combined['Affluent'],
    "Connected Households": df_combined['Connected'],
    "Mobile Lifestyle Followers": df_combined['Mobile Lifestyle'],
    "City Slickers": df_combined['City Slickers']
}

# Rollout percentages per plan (Year 1, Year 2, Year 3)
rollout = {
    "LightSpeed Unlimited": {
        "Mobile Lifestyle Followers": [0.005, 0.015, 0.03],
        "City Slickers": [0.005, 0.01, 0.015],
    },
    "LightSpeed Unplugged": {
        "Mobile Lifestyle Followers": [0.01, 0.02, 0.03],
        "City Slickers": [0.015, 0.03, 0.05],
    },
    "LightSpeed Unwired": {
        "Affluent Households": [0.005, 0.01, 0.03],
        "Connected Households": [0.005, 0.01, 0.03],
    },
    "Total LightSpeed": {
        "Affluent Households": [0.005, 0.01, 0.005],
        "Connected Households": [0.005, 0.01, 0.005],
    }
}

# Function to calculate absolute numbers from percentages
def calc_absolute(base_series, perc_list):
    return [round((base_series * p).sum()) for p in perc_list]

# Compute absolute numbers
results = {}
for plan, segments in rollout.items():
    results[plan] = {}
    for seg, perc in segments.items():
        results[plan][seg] = calc_absolute(base_series_map[seg], perc)

# Convert to a DataFrame for easy display
df_results = pd.DataFrame(results, index=['Year 1', 'Year 2', 'Year 3'])
print(df_results)

        LightSpeed Unlimited  LightSpeed Unplugged  LightSpeed Unwired  \
Year 1                   NaN                   NaN                 NaN
Year 2                   NaN                   NaN                 NaN
Year 3                   NaN                   NaN                 NaN

        Total LightSpeed
Year 1               NaN
Year 2               NaN
Year 3               NaN

In [26]:
print(df_urban.columns.tolist())

['Region', 'PC', 'Description', 'km^2', 'Households', 'Population', 'Category', 'Affluent', 'Connected', 'Mobile Lifestyle', 'City Slickers', 'Towers Needed']